:root {
  --primary: #85d8ce;
  --secondary: #0a1f44;
  --primary-invert: #fff;
  --secondary-invert: #fff;

  /* DEFAULT COLOR OF TEXTS */
  --text-primary: #0a1f44;

  /* FOR BUTTONS & INPUTS */
  --elements-roundness: 10rem;

  --space-between-blocks: 5.3rem;
  /* for mobiles */
  --space-between-blocks-small-screens: 3rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
}

.space-between-blocks {
  padding-top: var(--space-between-blocks-small-screens);
  padding-bottom: var(--space-between-blocks-small-screens);
}

@media (min-width: 992px) {
  .space-between-blocks {
    padding-top: var(--space-between-blocks);
    padding-bottom: var(--space-between-blocks);
  }
}

/* ----------------- BUTTONS ------------------- */

button {
  color: inherit;
  padding: 0;
  background: none;
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  font-size: 0.87rem;
  padding: 0;
  border-radius: var(--elements-roundness);
  transition: 0.2s all;
}

@media (min-width: 992px) {
  .btn {
    padding: 0.8rem 2rem;
  }
}

.btn,
.btn:hover,
.btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--primary);
  color: var(--primary-invert);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--secondary);
  color: var(--secondary-invert);
}

.btn-sm {
  padding: 0.8rem;
}

.dashboard-button {
  padding-top: 10px;
  margin-left: auto;
  margin-right: 0;
}

/* Put your blocks here */
.hero {
  --hero-nav-height: 100px;
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-nav {
  margin: 0 -1rem;
  width: 100%;
  height: var(--hero-nav-height);
  display: flex;
  align-items: center;
  z-index: 2;
}

.hero-nav__item {
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  .hero-nav__item {
    margin: 0 1rem;
  }
}

@media (min-width: 992px) {
  .nav--lg-side {
    flex-direction: row-reverse;
  }
}

.hero__row {
  height: 100%;
}

.hero_empty-column {
  height: 100%;
}

.hero__image-column {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.hero__content {
  text-align: initial;

  padding-bottom: 3rem;
}

@media (min-width: 992px) {
  .hero__content {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

.hero__title {
  font-size: 1.8rem;
  font-weight: 900;
}

.hero__paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.9;
}

@media (min-width: 576px) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 1.17;
  }

  .hero__paragraph {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .hero__title {
    font-size: 2.5rem;
    line-height: 1.17;
  }

  .hero__paragraph {
    font-size: 1.5rem;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 1.17;
  }
}

.hero__btns-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: auto;
}

.hero__btn {
  display: inline-block;
  width: 100%;
}

@media (min-width: 992px) {
  .hero__btns-container {
    width: auto;
    flex-direction: row;
  }

  .hero__btn {
    width: auto;
  }
}

.highlight {
  color: var(--primary);
}

.hero__img-container {
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 0.09);
  overflow: hidden;
}

.block-24 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
}

.block__pre-title {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
}

.block__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .block__title {
    font-size: 2.5rem;
  }
}

.block__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  opacity: 0.9;
}

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .logos__img {
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .logos__img {
    max-width: 150px;
    padding: 0;
    margin: 1rem;
  }
}

.logos__img:focus,
.logos__img:hover {
  filter: grayscale(0);
  opacity: 1;
}
