.title {
  text-align: left;
  float: left;
  margin: auto;
  width: 50%;

  padding: 10px;
}

.content {
  padding-left: 100px;
  padding-right: 20px;
}
.loading {
  padding-left: -100px;
}

#why-heading {
  width: 100%;
  margin: 0 auto;
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85d8ce, #085078);
}

.package-table a:hover {
  cursor: pointer;
}

.home {
  padding: 0px;
  text-align: center;
}

.user-info {
  text-align: right;
}

.social {
  margin: auto;
  padding-top: 20px;
}

.settings {
  padding: 20px;
  text-align: center;
}

.messages {
  padding: 20px;
  width: 100%;
  margin: auto;
  text-align: left;
}

.websites {
  text-align: center;
}

body,
html {
  height: 100%;
}

.heading {
  padding: 10px;
}

.billing {
  margin: auto;
  width: 60%;
  padding-top: 20px;
  text-align: center;
}

.servers {
  margin: auto;
  width: 30%;
  padding-top: 20px;
}

.sub-card {
  padding-top: 20px;
}

.pricing-container {
  margin: auto;
}

.recieved {
  background-color: #303033;
  margin: auto;
  width: 40%;
  border-radius: 25px;
  padding: 10px;
}

.sent {
  margin: auto;
  width: 40%;
  background-color: cornflowerblue;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-left: 55%;
}

.checkout {
  margin: auto;
  width: 70%;
}

.why-us {
  width: 100%;
  margin: 0 auto;
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.step-2 {
  width: 100%;
  margin: auto;
}
