.App {
  text-align: center;
}

.title {
  text-align: left;
  float: left;
  margin: auto;
  width: 50%;

  padding: 10px;
}

.home {
  padding: 20px;
  text-align: center;
}

.user-info {
  text-align: right;
}

.social {
  margin: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.settings {
  padding: 20px;
  text-align: center;
}

.messages {
  padding: 20px;
  text-align: center;
}

.websites {
  text-align: center;
}

.billing {
  text-align: center;
}

body,
html {
  height: 100%;
}

.why-us {
  width: 85%;
  margin: auto;
}

.heading {
  padding: 10px;
}

.billing {
  margin: auto;
  width: 60%;
  padding-top: 20px;
}

.sub-card {
  padding-top: 20px;
}

.pricing-container {
  margin: auto;
}

.recieved {
  background-color: gray;
  margin: auto;
  width: 20%;
  border-radius: 25px;
  padding: 10px;
}

.sent {
  margin: auto;
  width: 20%;
  background-color: blue;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-left: 55%;
}
